.left {
    float: left;
    width: 75%;
    background-color: #8BB6E0;
    text-align: center;
    align-items: center;
}

.right {
    float: right;
    width: 25%;
    background-color: #FFFFFF;
    align-items: center; 
}

@media only screen and (max-width: 1024px) {

    .left{
        float: none;
        width: 100%;
    }
    .right {
        margin: auto;
        float: none;
        width: 480px;
        padding-bottom: 2%;
    }
}

.title {
    padding-top: 8%;;
    display:inline-block;
    font-family: 'Sniglet';
    font-weight: 400;
    font-size: 3.1em;
    line-height: 62px;
    color: #FFFFFF;
}

.upload {
    width: 40%;
    margin: auto;
    background: rgba(48, 35, 52, 0.5);
    border-radius: 3.88734px;
    padding-bottom: 3%;
}

.picture {
    width: 70%;
    height: 50%;
    padding-top: 7%;
    margin: auto;
}

.textUpload {
    font-family: 'DM Mono';
    font-style: normal;
    font-weight: 500;
    font-size: 34.9861px;
    line-height: 46px;
    color: #FFFFFF;
    margin: auto;
    padding-top: 4%;
}

.framedes {
    width: 75%;
    height: 50%;
    margin-left: 15%;
    margin-top: 10%;
    padding-bottom: 3rem;
}

.desUpload {
    font-family: 'DM Mono';
    font-style: normal;
    font-weight: 500;
    font-size: 23.3241px;
    line-height: 30px;
    text-align: center;
    color: #FFFFFF;
}

.btn-connect {
    padding-top: 3em;
    margin: auto;
    margin-bottom: 5%;
}

.title-TopCreators {
    display: inline-block;
    font-family: 'Sniglet';
    font-style: normal;
    font-weight: 400;
    font-size: 35.1737px;
    line-height: 44px;
    color: #406CA1;
    margin-left: 8%;
}

.list-TopCreators {
    margin-left: 9%;
    list-style: none;
    width: 86%;
    padding-left: 0;
}

.btn-watchMore {
    margin-top: 13%;
    margin-left:20%;
    margin-bottom: 27%;
}