.container {
    display: flow-root;
    margin-bottom: 0px;
}

.left {
    float: left;
    width: 70%;
    background-color: #8BB6E0;
    text-align: center;
    align-items: center;
}

.right {
    float: right;
    width: auto;
    height: 100%;
    margin-top: 3vw;
    background-color: #FFFFFF;
    align-items: center;
}

@media only screen and (max-width: 1049px) {

    .left {
        float: none;
        width: 100%;
    }

    .right {
        margin-top: 3vw;
        float: none;
        width: 100%;
        padding-bottom: 2%;
        display: block;
    }
}

.title {
    padding-top: 8%;
    ;
    display: inline-block;
    font-family: 'Sniglet';
    font-weight: 400;
    font-size: 3.1em;
    line-height: 62px;
    color: #FFFFFF;
}

.upload {
    width: 40%;
    margin: auto;
    background: rgba(48, 35, 52, 0.5);
    border-radius: 3.88734px;
    padding-bottom: 3%;
}

.picture {
    width: 70%;
    height: 50%;
    padding-top: 7%;
    margin: auto;
}

.textUpload {
    font-family: 'DM Mono';
    font-style: normal;
    font-weight: 500;
    font-size: 34.9861px;
    line-height: 46px;
    color: #FFFFFF;
    margin: auto;
    padding-top: 4%;
}

.framedes {
    width: 75%;
    height: 50%;
    margin-left: 15%;
    margin-top: 10%;
    padding-bottom: 3rem;
}

.desUpload {
    font-family: 'DM Mono';
    font-style: normal;
    font-weight: 500;
    font-size: 23.3241px;
    line-height: 30px;
    text-align: center;
    color: #FFFFFF;
}

.btn-connect {
    padding-top: 3em;
    margin: auto;
    margin-bottom: 5%;
}

.title-TopCreators {
    font-family: 'Sniglet';
    font-style: normal;
    font-weight: 400;
    font-size: 30px;
    line-height: 44px;
    color: #406CA1;
    padding-top: 56px;
    text-align: center;
}

.list-TopCreators {
    list-style: none;
    width: 300px;
    padding: 0vw 3vw;
    margin: 0 auto;
}

.btn-watchMore {
    margin: 4% auto;
    width: 240px;
    padding-bottom: 5vh;
}

.CreateNewNFT {
    width: 65%;
    margin-top: 60px;
    display: inline-block;
}

.NewTitle {
    font-family: 'Sniglet';
    font-style: normal;
    font-weight: 400;
    font-size: 3.1em;
    line-height: 62px;
    color: #FFFFFF;
    margin-top: 4.5vw;
    text-align: center;
}

.tLabel {
    font-family: 'Space Grotesk';
    font-style: normal;
    font-weight: 400;
    font-size: 2vw;
    line-height: 20px;
    /* or 80% */
    padding: 3%;
    letter-spacing: 0.753125px;
    display: inline-block;
    color: #002B5B;
    width: 5%;
    margin-left: 6vw;
}

.imagePreview {
    max-width: 100%;
    max-height: 30vw;
    margin: 4vw auto;
}

.form-input {
    box-sizing: border-box;
    display: inline;
    flex-direction: row;
    align-items: center;
    padding: 18.5904px 14.8723px;
    gap: 14.87px;
    width: 35vw;
    height: 5vw;
    background: #EDFBFF;
    /* Grayscale/Line */
    margin: 2vw;
    border: 0.929521px solid #353242;
    border-radius: 5px;
    color: rgb(28, 8, 85);
    font-size: 2vw;
    font-family: monospace;
    outline: none;
}

.error {
    color: red;
    font-size: 2vw;
    font-family: monospace;
}

.imageUpload {
    margin-top: 20px;
    padding: 7.5px 0;

}

.fileInfomation {
    margin-top: 20px;
}

.imgFrame {
    box-sizing: border-box;
    width: 35vw;
    height: 35vw;
    margin: 3vw auto;
    background: rgba(241, 246, 251, 0.8);
    border-radius: 5px;
    text-align: center;
}


#imageUploadInputBtn {
    justify-content: center;
    align-items: center;
    gap: 8px;
    width: 8vw;
    height: 2vw;
    padding: 1vw 2vw;
    background: #EDFBFF;
    border: 1px solid #353242;
    border-radius: 4px;
    color: red;
    font-family: "Sniglet";
    font-size: 1.5vw;
    cursor: pointer;
    margin-left: 23%;
    margin-bottom: 2%;
    display: inline-block;
    text-align: center;
}

@media screen and (max-width: 1049px) {
    .folder-icon {
        display: none;
    }

    .CreateNewNFT {
        display: block;
        width: 100%;
    }

    .tLabel {
        margin-left: 18vw;
    }

    #imageUploadInputBtn {
        margin-left: 31vw;
    }

    .buttons {
        margin-left: 11vw;
        ;
    }
}

#imageUploadInput {
    display: none;
}